.sideNav {
  flex: 1;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}

.folderLink {
  display: inline-block;
  text-align: center;
  padding: 10px;
  width: 94%;

  border-radius: 5px;
  margin: 5px auto;
  background-color: rgb(0, 3, 42);
}

.addFolderBtn {
  width: 80%;
  margin-top: 25px;
  background-color: rgb(0, 3, 42);
}

.active {
  background-color: slateblue;
  color: rgb(40, 0, 78);
  font-weight: bold;
  border: 1px dotted rgb(40, 0, 78);
}

.folderItem {
  display: block;
  padding: 0;
  margin: 0 auto;
  width: 90%;
  max-width: 90%;
}

.folderList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.count {
  float: right;
  padding-right: 10px;
}

@media screen and (max-width: 500px) {
  .folderLink {
    padding: 5px;
  }


}