.folderLink {
  display: flex;
  text-align: center;
  padding: 10px;
  max-width: 100%;
  font-weight: 600;
}

.addFolderBtn {
  width: 80%;
  margin-top: 25px;
  background-color: rgb(0, 3, 42);
}

.active {
  color: rgb(214,1,248);
  font-weight: 900;
  border: 1px dotted rgb(40, 0, 78);
}

.folderItem {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 5px 0 5px auto;
  width: 100%;
  max-width: 100%;
  background-color: rgb(0, 3, 42);
}

.folderList {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 100%;
}

.count {
  align-self: center;
  padding: 5px;
  color: whitesmoke;
  font-weight: 600;
}

.fa-trash {
  align-self: center;
  padding: 5px;
  color: whitesmoke;
  cursor: pointer;
}


@media screen and (max-width: 500px) {
  .folderLink {
    padding: 5px;
  }

  .folderItem {
    margin: 0 auto;
  }

  .folderLink {
    border-radius: 5px;
  }
}