.Note {
 margin: 10px;
 padding: 0 30px;
 max-width: 768px;
 border-radius: 5px;
 background-color:  rgb(0, 6, 93);
}

.deleteBtn {
 background-color: rgb(0, 3, 42);
}

.noteDetails {
  display: flex;
  justify-content: space-between;
}

.noteTitle {
  padding-top: 10px;
}

.modified {
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .Note {
    padding: 0 10px;
  }
}
@media screen and (max-width: 500px) {
  .Note {
    text-align: center;
  }
  .noteDetails {
    flex-direction: column;
  }

  .modified {
    margin: 0;
  }

  .noteTitle {
    margin: 0;
    padding-top: 5px;
  }

  .deleteBtn {
    margin: 5px auto 10px auto;
    width: 200px;
  }
}
